<div class="col-xs-12 col-sm-6 col-sm-offset-3">
	
<h6><center><p>A simple reply generator. Let us take the yoke.</p>

<p>You need to reply to all customer feedback. But, coming up with thousands of things to say can be a daunting task.</p>

<p>This tool provides you with the perfect reply, every time.</p>

<p>Enter your information below, and we’ll generate the perfect reply to any online review or social media post. With thousands of reply variations, your audience will get the individual attention they deserve. </p></center></h6>
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

<%= render 'form' %>

