<div class="col-xs-12 col-sm-6 col-sm-offset-3">
<div class="body-text">

<h4 class="body-text"><p style="text-indent: 2em;">Reply Copilot is a response generator designed to assist with customer feedback and online community management. Combing through thousands of online reviews and social comments is a difficult task for many social media professionals, and thinking of unique replies to each response can easily wear down the most tenacious of copywriters.</p>

<p style="text-indent: 2em;">Considered an industry-wide best practice, replying to each review, or social media post, shows consumers that a brand cares enough about their audience to engage them on a personal level. There is also the added benefit of keywords. It usually takes a team of community managers and strict brand messaging guidelines to respond to all feedback. Now, with Reply Copilot, you can reply with thousands of sentiment-based responses, each specifically targeted based on the <a href="http://www.netpromoter.com/why-net-promoter/know" class="body-link">Net Promotor Score</a>.
</p>

<p style="text-indent: 2em;">Developed through a Startup Institute partnership with online review management software provider ReviewTrackers, this tool is free for anyone to use.</p>

<p style="text-indent: 2em;">Suggestions for responses? Questions? Send them here: <br><br>

  <center><a href="mailto:contact@replycopilot.com" class="body-link">contact@replycopilot.com</a></center><br>

</p></h4>
 
<h5><center><p><strong>Team</p></strong>
<a href="https://www.linkedin.com/in/alliefleming" target="_blank" class="body-link">Allie Fleming</a><br>
<a href="https://www.linkedin.com/in/bethmingledorff" target="_blank" class="body-link">Beth Mingledorff</a><br>
<a href= "https://www.linkedin.com/in/schoenjustin" target="_blank" class="body-link">Justin Schoen</a><br>
<a href="https://www.linkedin.com/pub/richard-kwarteng/56/9ba/331" target="_blank" class="body-link">Richard Kwarteng</a><br>
<a href="https://www.linkedin.com/in/shiovhan" target="_blank" class="body-link">Shiovhan Boykin</a><br><br>
<p><strong>Partners</p></strong>
<a href="http://www.reviewtrackers.com/company/team/" target="_blank" class="body-link">Brian Sparker</a><br>
<a href="http://www.reviewtrackers.com/company/team/" target="_blank" class="body-link">Chris Campbell</a><br>
<br>
</h5></center>
</div>
</div>