<div class="col-xs-12 col-sm-6 col-sm-offset-3">


<h4><center><p>Reply Copilot is a response generator designed to assist with customer feedback and online community management. Combing through thousands of online reviews and social comments is a difficult task for many social media professionals, and thinking of unique replies to each response can easily wear down the most tenacious of copywriters.</p>

<p>Considered an industry-wide best practice, replying to each review, or social media post, shows consumers that a brand cares enough about their audience to engage them on a personal level. There is also the added benefit of keywords. It usually takes a team of community managers and strict brand messaging guidelines to respond to all feedback. Now, with Reply Copilot, you can reply with thousands of sentiment-based responses, each specifically targeted based on the <a href="http://www.netpromoter.com/why-net-promoter/know">Net Promotor Score</a>.
</p>

<p>Developed through a Startup Institute partnership with online review management software provider ReviewTrackers, this tool is free for anyone to use.</p>

<p>Suggestions for responses? Questions? Send them here: 
	<%= mail_to "contact@replycopilot.com" %>
  

</p></center></h4>
 
<h6><center><p><strong>Team</p></strong>
<a href="https://www.linkedin.com/in/alliefleming">Allie Fleming</a><br>
<a href="https://www.linkedin.com/in/bethmingledorff">Beth Mingledorff</a><br>
<a href= "https://www.linkedin.com/in/schoenjustin">Justin Schoen</a><br>
<a href="https://www.linkedin.com/pub/richard-kwarteng/56/9ba/331">Richard Kwarteng</a><br>
<a href="https://www.linkedin.com/in/shiovhan">Shiovhan Boykin</a><br><br>
<p><strong>Partners</p></strong>
Brian Sparker<br>
Chris Campbell
</h6></center>
</div>
