<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Reply Copilot</title>
    <!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
	<!-- Favicon Code -->
	<link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="favicons/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="favicons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="favicons/manifest.json">
	<meta name="apple-mobile-web-app-title" content="ReplyCopilot">
	<meta name="application-name" content="ReplyCopilot">
	<meta name="msapplication-TileColor" content="#272e39">
	<meta name="msapplication-TileImage" content="favicons/mstile-144x144.png">
	<meta name="theme-color" content="#ffffff">
  </head>
  <body>
  	  <!-- Navigation -->
	  <nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container">
		      <a class="navbar-brand" href="index.html">
		        <img class="visible-xs" alt="Reply Copilot" src="images/logo-icon-blue.svg" height="24">
		        <img class="hidden-xs" alt="Reply Copilot" src="images/reply-copilot-logo.svg" height="24">
		      </a>
				<ul class="nav nav-pills">
				  <li role="presentation"><a href="javascript:void(0);" data-toggle="modal" data-target="#aboutModal">About</a></li>
				  <li role="presentation"><a href="resources/index.html">Resources</a></li>
				</ul>
		  </div>
		</nav>
		<!-- End Navigation -->
	<div class="container">
		<!-- About Modal -->
		<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModal">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="aboutModal">About Reply Copilot</h4>
		      </div>
		      <div class="modal-body">
		    	    <div class="row">
					    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
							<p class="text-black">Reply Copilot is a response generator designed to assist with customer feedback and online community management. Combing through thousands of online reviews and social comments is a difficult task for many social media professionals, and thinking of unique replies to each response can easily wear down the most tenacious of copywriters.</p>
							<p class="text-black">Considered an industry-wide best practice, replying to each review, or social media post, shows consumers that a brand cares enough about their audience to engage them on a personal level. There is also the added benefit of keywords. It usually takes a team of community managers and strict brand messaging guidelines to respond to all feedback. Now, with Reply Copilot, you can reply with thousands of sentiment-based responses, each specifically targeted based on the Net Promotor Score.</p>
							<p class="text-black">Developed through a Startup Institute partnership with online review management software provider ReviewTrackers, this tool is free for anyone to use.</p>
							<p class="text-black">Suggestions for responses? Questions? Send them here: <a href="mailto:contact@replycopilot.com">contact@replycopilot.com</a></p>
							<div class="row">
								<div class="col-xs-6">
									<h3 class="text-green">Team</h3>
									<ul class="text-black">
										<li>Allie Fleming</li>
										<li>Beth Mingledorff</li>
										<li>Justin Schoen</li>
										<li>Richard Kwarteng</li>
										<li>Shiovhan Boykin</li>
									</ul>
								</div>
								<div class="col-xs-6">
									<h3 class="text-green">Partners</h3>
									<ul class="text-black">
										<li>Brian Sparker</li>
										<li>Chris Campbell</li>
									</ul>
								</div>
							</div>
						</div>
				    </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- End About Modal -->
	    <div class="row">
		    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
			    <form>
					<div class="form-group">
						<label for="exampleInputName1">Your name</label>
						<input type="email" class="form-control" id="exampleInputName1" placeholder="First and last name">
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">Your Email</label>
						<input type="password" class="form-control" id="exampleInputEmail1" placeholder="example@website.com">
					</div>
					<h5>Type of Response 
						  <a href="javascript:void(0);" class="text-white" data-toggle="modal" data-target="#myModal"><i class="fa fa-question-circle"></i></a>
					</h5>
					<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h4 class="modal-title" id="myModalLabel">Type of Responses</h4>
					      </div>
					      <div class="modal-body">
					        	    <div class="row">
									    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
										<h3 class="text-green"><i class="fa fa-plus-circle"></i> Positive: “Promoters”</h3>
									    <p class="text-black">These are highly loyal customers who conduct unprompted, repeat business and have no hesitation recommending the product or service to their friends, family, or colleagues (scores of nine and 10).</p>
										<h3 class="text-red"><i class="fa fa-times-circle"></i> Negative: “Detractors”</h3>
									    <p class="text-black">These are highly dissatisfied customers who are very unlikely to generate repeat business, much less give your business a verbal or written endorsement. These customers present a significant risk to your business organization since they are highly likely to give a negative reference about your business (scores of six and below).</p>
										<h3 class="text-gray"><i class="fa fa-minus-circle"></i> Neutral: “Passives”</h3>
									    <p class="text-black">These are satisfied but unenthusiastic customers, and your most vulnerable group since they can easily be persuaded to patronage the competition, should the competition be ready to bridge the experiential gap of what the customer wishes to receive and what you are delivering.</p>
										<p class="text-black">Conversely, just as this group (with scores of seven and eight) can easily stop frequenting your business, the same group, but from your competitor’s client pool, presents a superior opportunity for your business to gain wallet share if you have the business savvy and offerings to coax them to your side by carefully deciphering your competitors’ shortcomings.</p>
										<small class="text-gray">The Net Promoter Score is calculated by subtracting the percentage of detractors (customers that have rated your business with a NPS of 0-6) from the percentage of promoters (customers who have rated your business 9-10).</small>
									    </div>
								    </div>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>
					<!-- End Modal -->
					<!-- Split button -->
					<div class="btn-group">
					  <button type="button" class="btn btn-default">Choose a response</button>
					  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    <span class="caret"></span>
					    <span class="sr-only">Toggle Dropdown</span>
					  </button>
					  <ul class="dropdown-menu">
					    <li><a href="#"><i class="fa fa-plus-circle text-green"></i> Positive</a></li>
					    <li role="separator" class="divider"></li>					    
					    <li><a href="#"><i class="fa fa-times-circle text-red"></i> Negative</a></li>
					    <li role="separator" class="divider"></li>
					    <li><a href="#"><i class="fa fa-minus-circle text-gray"></i> Neutral</a></li>

					  </ul>
					</div>
					<p style="line-height: 5px;">&nbsp;</p>
					<div class="form-group">
						<label for="exampleInputName1">Customer Name</label>
						<input type="email" class="form-control" id="exampleInputName1" placeholder="Customer name">
					</div>
					<div class="row">
						<div class="col-xs-12">
							<button type="submit" class="btn btn-lg btn-success col-xs-12 ">Generate Response</button>
						</div>
					</div>
				</form>
		    </div>
	    </div>
	    		<div class="row">
			<div class="spacer">&nbsp;</div>
		</div>

    </div>
	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-xs-6 col-sm-6">
					<p class="text-left">
						<a href="https://twitter.com/replycopilot" target="_blank">
							<i class="fa fa-lg fa-twitter-square"></i>
						</a>
						<a href="https://www.facebook.com/replycopilot" target="_blank">
							<i class="fa fa-lg fa-facebook-square"></i>
						</a>
						<a href="https://plus.google.com/u/0/105765359744046892959/posts" target="_blank">
							<i class="fa fa-lg fa-google-plus-square"></i>
						</a>
					</p>
				</div>
				<div class="col-xs-6 col-sm-6">
						<p class="text-navy text-right">
							<a href="http://www.reviewtrackers.com/terms-service/" target="_blank" title="Reply Copilot Terms of Service">
								Terms of Service
							</a>
						</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer -->
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="js/bootstrap.min.js"></script>
  </body>
</html>