<h1>
	<center>

	Resources

	</center>
</h1>

<br>

<h3>
	<center>

	<li role="presentation"><%=link_to "Why respond to reviews?", static_pages_why_respond_part1_path%></li>
	<br>
	<li role="presentation"><%=link_to "When to delete a review or comment", static_pages_when_to_delete_part1_path%></li>
	<br>
	<li role="presentation"><%=link_to "Using the Net Promoter Score", static_pages_using_the_nps_part1_path%></li>
	<br>
	<li role="presentation"><a href="http://www.reviewtrackers.com/the18wordresponse" target="_blank">The 18 Word Response Ebook</a></li>
	<br>
	<li role="presentation"><a href="http://www.reviewtrackers.com/Weekly-Newsletter" target="_blank">Subscribe to Review Management Newsletter</a></li>
	<br>
	<li role="presentation"><a href="http://www.reviewtrackers.com/" target="_blank">Online Review Management</a></li>

  <%= button_to "Try Reply Copilot!", new_criterium_path, :id => "button",
  :class => "btn btn-lg btn-success col-xs-14", :method => :get %>


	</center>
</h3>

