

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <center><h4 class="text-black">Why Respond To Reviews?</h4></center>
        </div>
        
		<p class="text-black">
			Times have never been better than they are now in the field of consumer analytics and business intelligence.
		</p>


		<p class="text-black">
			Thanks to significant advances with the way we capture and reply to customer feedback, such as point-of-sale tracking and survey-based metrics, we can now paint a better and more accurate picture of what customers prefer and why.
		</p>

		<p class="text-black">
			In 2003, Bain & Company, a global consulting firm based out of Boston, introduced a one-question survey that has proven to be one of the best and most accurate tools to measure and understand the customer sentiment toward a service or a product: the Net Promoter Score. The firm began using the survey with some of their clients, and today NPS is one of the most popular tools for marketing and business strategists, equipping those tasked with determining the direction of a business with a key piece of data that is highly predictive of customers’ likelihood to repurchase or recommend a product or service.
		</p>

		<p class="text-black">
			The Net Promoter Score asks a single post-transactional question that surprisingly provides businesses with a variety of actionable insights, and one of the most valuable Key Performance Indicators available to business organizations. The question is simple:
		</p>

		<center>
			<h3>
				<p class="text-black"><i>
			How likely is it that you would recommend Company X (or Product X) to a friend or colleague?
					</i>
				</p>				
			</h3>
			</center>	
	<br>

		<p class="text-black">
			Instead of a binary answer, those answering a Net Promoter Survey provide a linear 
			assessment of their experience, with a rating scale of 0-10, ten being extremely likely to recommend and zero not likely at all. The responses are divided into three distinct categories or groups as follows:
		</p>


		<p class="text-black">
			“Promoters” are highly loyal customers who conduct unprompted, repeat business and have no hesitation recommending the product or service to their friends, family, or colleagues (scores of nine and 10).
		</p>

		<p class="text-black">
			“Passives” are satisfied but unenthusiastic customers, and your most vulnerable group since they can easily be persuaded to patronage the competition, should the competition be ready to bridge the experiential gap of what the customer wishes to receive and what you are delivering.
			Conversely, just as this group (with scores of seven and eight) can easily stop frequenting your business, the same group, but from your competitor’s client pool, presents a superior opportunity for your business to gain wallet share if you have the business savvy and offerings to coax them to your side by carefully deciphering your competitors’ shortcomings.		</p>

		<p class="text-black">
			“Detractors” are highly dissatisfied customers who are very unlikely to generate repeat business, much less give your business a verbal or written endorsement. These customers present a significant risk to your business organization since they are highly likely to give a negative reference about your business (scores of six and below).
		</p>	

		<p class="text-black">
			The Net Promoter Score is calculated by subtracting the percentage of detractors (customers that have rated your business with a NPS of 0-6) from the percentage of promoters (customers who have rated your business 9-10). Here is an example:
		</p>

		<center>
			<h4 class="text-black">
				<p>
					Total number of survey responses: 100<br>
					Total number of detractors: 10 (10%)<br>
					Total number of passives: 50 (50%)<br>
					Net Promoter Score in percentages: +30<br>
				</p>				
			</h4>
		</center>

		<p class="text-black">
			Based on NPS samples collected by Bain & Company, businesses can feel confident they are trending in the right direction if they have a Net Promoter Score of +15 or more. The simplicity of this one-question survey makes it available to pretty much any business, regardless of size.
			Among companies currently using the NPS to gauge customer sentiment are: Expedia, Inc., CVS Caremark, The Home Depot, Macy’s, Southwest Airlines, American Express, Facebook, U.C. Berkeley, Intuit, Chick-fil-A, Porsche, Verizon, and BBC (among many others).
			Pretty solid list, right?
		</p>

		<center>
			<h3>
				<p class="text-black">
			What Do We Know About Each NPS Group?
				</p>				
			</h3>
			<br>
		
			<h5 class="text-black"	
				<p>
					<li>Promoters account for 80 percent of referrals across all industries</li><br>
					<li>Promoters are far more likely to submit an unprompted, positive online review than a passive one.</li><br>
					<li>Promoters are far more likely to repurchase and far more likely to engage with new product lines launched by your business.</li><br>
					<li>A higher NPS is directly associated with significant decreases in customer churn rate.</li><br>
				</p>
			</h5>			
		</center>			</ul>

		<center>
			<h3>
				<p class="text-black">
		Assess and Build Customer Loyalty
				</p>				
			</h3>
		</center>	

		<p class="text-black">
			Net Promoter Score is one of the most predictable metrics when it comes to ongoing customer loyalty. It goes beyond customer satisfaction by capturing your customers’ willingness to advocate on your behalf and give a direct recommendation about your product or service.
			Net Promoter Score provides continuity by allowing you to make immediate changes in the business, and accurately measure how the changes you have made impact your customers’ likelihood to promote and advocate your offering.
		</p>

		<p class="text-black">
			In short, your NPS is your best partner when it comes to refining your marketing, operational, and customer experience strategy, giving you accountability every step of the way.

		<p class="text-black">
			The goal is simple: to create an upward trend by making changes to the way you do business, and measuring how those changes change the way customers are willing to engage with your products or services.
		</p>	
		<br>
			
		<center>
			<p class="text-black">
		  Want more great content?<br>Signup for ReviewTrackers weekly email!
		</p>
	</center>
</h3>
</div>
</center>
<% @visitor = Visitor.new %>
<%= render 'signup' %>
	</div>
</div>
</div>
</div>
</div>

