<div class="col-xs-12 col-sm-8 col-sm-offset-2">

<h3>
	<center>

		Using the Net Promoter Score (con't)<br>

	</center>
</h3>

<br>

<h4>
	<center>

		<p>	
			Instead of a binary answer, those answering a Net Promoter Survey provide a linear 
			assessment of their experience, with a rating scale of 0-10, ten being extremely likely to recommend and zero not likely at all. The responses are divided into three distinct categories or groups as follows:
		</p>


		<p>
			“Promoters” are highly loyal customers who conduct unprompted, repeat business and have no hesitation recommending the product or service to their friends, family, or colleagues (scores of nine and 10).
		</p>

		<p>
			“Passives” are satisfied but unenthusiastic customers, and your most vulnerable group since they can easily be persuaded to patronage the competition, should the competition be ready to bridge the experiential gap of what the customer wishes to receive and what you are delivering.
			Conversely, just as this group (with scores of seven and eight) can easily stop frequenting your business, the same group, but from your competitor’s client pool, presents a superior opportunity for your business to gain wallet share if you have the business savvy and offerings to coax them to your side by carefully deciphering your competitors’ shortcomings.		</p>

		<p>
			“Detractors” are highly dissatisfied customers who are very unlikely to generate repeat business, much less give your business a verbal or written endorsement. These customers present a significant risk to your business organization since they are highly likely to give a negative reference about your business (scores of six and below).
		</p>	

		<br>

		<p><%=link_to "Continue reading...", static_pages_using_the_nps_part3_path%></p>
		<br>
		<p><%=link_to "Back to first page", static_pages_using_the_nps_part1_path%></p>



	</center>

</h4>


