<div class="col-xs-12 col-sm-8 col-sm-offset-2">

<h3>
	<center>

		Using the Net Promoter Score (con't)<br>

	</center>
</h3>

<br>

<h4>
	<center>

		<h4>
			What Do We Know About Each NPS Group?
		</h4>


		 <ul style="font-size: 15px; text-align: left;">
		 	<br>
		 	<br>
			<li>Promoters account for 80 percent of referrals across all industries.</li>
			<br>
			<li>Promoters are far more likely to submit an unprompted, positive online review than a passive one.</li>
			<br>
			<li>Promoters are far more likely to repurchase and far more likely to engage with new product lines launched by your business.</li>
			<br>
			<li>A higher NPS is directly associated with significant decreases in customer churn rate.</li>
		</ul>

		<br>
		<br>

		<p><%=link_to "Continue reading...", static_pages_using_the_nps_part5_path%></p>
		<br>
		<p><%=link_to "Back to first page", static_pages_using_the_nps_part1_path%></p>



	</center>

</h4>


