<div class="col-xs-12 col-sm-8 col-sm-offset-2">

<h3>
	<center>

		Using the Net Promoter Score<br>

	</center>
</h3>

<br>

<h4>
	<center>

		<p>
			Times have never been better than they are now in the field of consumer analytics and business intelligence.
		</p>


		<p>
			Thanks to significant advances with the way we capture and reply to customer feedback, such as point-of-sale tracking and survey-based metrics, we can now paint a better and more accurate picture of what customers prefer and why.
		</p>

		<p>
			In 2003, Bain & Company, a global consulting firm based out of Boston, introduced a one-question survey that has proven to be one of the best and most accurate tools to measure and understand the customer sentiment toward a service or a product: the Net Promoter Score. The firm began using the survey with some of their clients, and today NPS is one of the most popular tools for marketing and business strategists, equipping those tasked with determining the direction of a business with a key piece of data that is highly predictive of customers’ likelihood to repurchase or recommend a product or service.
		</p>

		<p>
			The Net Promoter Score asks a single post-transactional question that surprisingly provides businesses with a variety of actionable insights, and one of the most valuable Key Performance Indicators available to business organizations. The question is simple:
		</p>	

		<p><i>
			How likely is it that you would recommend Company X (or Product X) to a friend or colleague?
		</i></p>	

		<br>

		<p><%=link_to "Continue reading...", static_pages_using_the_nps_part2_path%></p>


	</center>

</h4>


