<div class="col-xs-12 col-sm-8 col-sm-offset-2">

<h3>
	<center>

		Using the Net Promoter Score (con't)<br>

	</center>
</h3>

<br>

<h4>
	<center>

		<p>
			The Net Promoter Score is calculated by subtracting the percentage of detractors (customers that have rated your business with a NPS of 0-6) from the percentage of promoters (customers who have rated your business 9-10). Here is an example:
		</p>


		<p><strong>
			<ul>Total number of survey responses: 100</ul>
			<ul>Total number of promoters: 40 (40%)</ul>
			<ul>Total number of detractors: 10 (10%)</ul>
			<ul>Total number of passives: 50 (50%)</ul>
			<ul>Net Promoter Score in percentages: +30</ul>
		</strong></p>

		<p>
			Based on NPS samples collected by Bain & Company, businesses can feel confident they are trending in the right direction if they have a Net Promoter Score of +15 or more. The simplicity of this one-question survey makes it available to pretty much any business, regardless of size.
			Among companies currently using the NPS to gauge customer sentiment are: Expedia, Inc., CVS Caremark, The Home Depot, Macy’s, Southwest Airlines, American Express, Facebook, U.C. Berkeley, Intuit, Chick-fil-A, Porsche, Verizon, and BBC (among many others).
			Pretty solid list, right?

		<br>
		<br>

		<p><%=link_to "Continue reading...", static_pages_using_the_nps_part4_path%></p>
		<br>
		<p><%=link_to "Back to first page", static_pages_using_the_nps_part1_path%></p>



	</center>

</h4>


