<div class="col-xs-12 col-sm-8 col-sm-offset-2">

<h3>
	<center>

		Using the Net Promoter Score (con't)<br>

	</center>
</h3>

<br>

		<h3>
	<center>

		Assess and Build Customer Loyalty

	</center>
</h3>


<h4>
	<center>

<br>

		<p>
			Net Promoter Score is one of the most predictable metrics when it comes to ongoing customer loyalty. It goes beyond customer satisfaction by capturing your customers’ willingness to advocate on your behalf and give a direct recommendation about your product or service.
			Net Promoter Score provides continuity by allowing you to make immediate changes in the business, and accurately measure how the changes you have made impact your customers’ likelihood to promote and advocate your offering.
		</p>

		<p>
			In short, your NPS is your best partner when it comes to refining your marketing, operational, and customer experience strategy, giving you accountability every step of the way.

		<p>
			The goal is simple: to create an upward trend by making changes to the way you do business, and measuring how those changes change the way customers are willing to engage with your products or services.
		</p>	

		<br>
		<p><%=link_to "Back to first page", static_pages_using_the_nps_part1_path%></p>
		<br>
		<p><%=link_to "Back to Resources", static_pages_resources_path%></p>




	</center>

</h4>


