<div class="col-xs-12 col-sm-8 col-sm-offset-2">


<h2>
	<center>

		When to Delete a Review or Comment?

	</center>

</h2>

<br>

	<center>

		<p>
			If you have been managing your online reputation for a while now, then you have probably gotten into the habit of responding quickly to online customer reviews, in hopes of providing quick resolution to escalations and maintaining a good brand image across all review and social media sites.
		</p>

		<p>
			The truth is, the majority of the time we highly endorse the implementation of standard operational procedures aimed toward taking care of all reviewers, either through acknowledging and thanking them for a compliment, or providing resolution or remedy for a complaint.
		</p>

		<p>
			Today, however, we want to take a moment to explore with you certain business scenarios where you may want to be slow, careful, and intentional in the way you draft your review response. Understanding when not to rush into responding to an online review is of particular importance for those with limited experience in reputation management. A careless response in the scenarios we are about to discuss can significantly impact your online reputation and, in some situations, it may even expose your business to legal liability.
		</p>

		<h3>
	<center>

	The Reviewer Is Threatening Violence Against You, Your Business, or Your Employees

	</center>
</h3>

<br>



	<center>

		<p>
			It is unlikely that something like this will make it through review moderation, but if it does, then do not reply to the review. Quickly flag the review or escalate it to the review site in question, but not without first taking a screenshot.
		</p>

		<p>
			If you suspect there is a reason to fear for your safety or the safety of your team, then it is essential that you escalate with the proper authorities. If you happen to have some clues as to who posted the review, then don’t hesitate to disclose to the authorities, but do it with discretion and always extend the benefit of the doubt.
		</p>

		<p>
			Again, this scenario is very unlikely, but under no circumstance should you engage in responding to any reviews that include a threat of violence of any sort.
		</p>

<h3>
	<center>
			The Reviewer Voices Concerns Regarding Health and Safety
	</center>
</h3>

<br>


	<center>

		<p>
			Matters of health and safety come up often on reviews for hotels and food-service venues (restaurants, bars, cafes). Depending on the severity of the report, it is essential that your business takes the necessary steps to identify the issue and correct it.
		</p>

		<p>
			In the case of food and beverage venues, owners and managers need to remain cognizant that authorities are using reviews to track and identify offenders. Once an issue has been identified and confirmed, consider contacting the reviewer directly and offering a reimbursement for the questionable experience. Depending on the severity of the concern, you may want to consult with your in-house counsel prior to posting a response. If you get authorization to move forward with a response, then plan to provide details regarding what you have done to correct the problem going forward, and emphasize your intent to reimburse the customer accordingly.
		</p>

		<p>
			It is important to note that we use the term reimbursement and not the term “compensation,” as compensation may or may not include other expenses incurred by the reviewer as a result of the safety or health concern.

<h3>
	<center>
	The Reviewer Has Posted a Review That Makes You Feel Angry and Unable to Control the Tone of Your Response
	</center>
</h3>

<br>



	<center>

		<p>
			This is the most common faux pas when it comes to review management. Don’t let a reviewer get the best of you and corner you into an inappropriate response likely to severely impact your image for years to come.
		</p>

		<p>
			As a business manager, you have a heightened responsibility to consider the impact of your actions first, and reprioritize your emotions. Take a deep breath or two, and consult with other members of management to find a way to politely and positively respond to a review in a way that satisfies the customer concern and provides you the opportunity to clarify business policies or other issues that might have been erroneously assessed by the reviewer, resulting in an unfair and negative review.
		</p>

		<p>
			If the review contains language that is profane in nature, then you also have the option of requesting a review removal per the posting policies of most review sites.
		</p>

<h3>
	<center>
		The Reviewer Posted the Review to the Wrong Property
	</center>
</h3>

		<br>


	<center>

		<p>
			If a negative review has been posted to your review profile in error, then do not be swift to respond defensively. Instead, take the opportunity to explain to the reviewer that the review is erroneously posted. While you’re at it, why not take the opportunity to extend an invitation to try your venue instead?
		</p>

		<p>
			With a little luck and the willingness to engage, you may just gain a loyal follower. An alternative to a response, if the review is clearly not addressing your business, is to escalate it for moderation and removal. For example, if you receive a review where the customer voices concerns regarding your valet parking service, when your restaurant does not offer that service, then you should be able to have the review removed.
		</p>

<h3>
	<center>
		The Reviewer Is Attempting to Blackmail You
	</center>
</h3>

		<br>


	<center>

		<p>
		If the reviewer is asking you to do something that is not aligned with your standard policies of remedy and compensation, and his or her goal appears to be simply blackmail, then do not respond. Engaging with this type of reviewer will not benefit your business, and it is likely to snowball into something unpleasant. Step away from the situation and flag the review. 
		</p>

<h3>
	<center>
		The Reviewer Is Threatening to Sue You
	</center>
</h3>

		<br>


	<center>

	<p>
		This is a big red flag. If a reviewer is threatening to take legal action against your business, then it is best that you don’t engage by responding. Escalate the review to your in-house counsel or business attorney, and see if the reviewer has grounds to move forward. Whether the reviewer has reason to sue you or not, it is advisable not to engage in a two-way conversation in a public forum.
	</p>

	<p>
		If the option is available and the reviewer has self-identified, then reach out privately or have your legal department decide on the next move. Depending on the tone of the review and the policies specific to the review site, the review may or may not qualify for removal. Regardless, consider flagging it in hopes that it will be removed.
	</p>



	</center>


