

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <center><h4 class="text-black">Why Respond To Reviews?</h4></center>
        </div>
        

		<p class="text-black">

			If you’re not responding to reviews (negative and positive) of your business, 
			then you may be missing out on the opportunity to drive new business.
		</p>

		<p class="text-black">
			There are plenty of reasons why online customer reviews deserve a response on behalf of the brand or business. If you are already engaging in active review management, then we want to congratulate you. You are on the path to excellence in building your brand and your reputation. But before we go out and celebrate the success and impact of review responses, we must pause for just a moment and examine in depth not only what makes a great response but also the risks associated with thoughtless responses that fail to take into account the long-term value of the online business reputation of any organization.
		</p>

		<p class="text-black">
			A poorly answered review will, in the best of cases, disappoint the reviewer in question, and in the worst of cases result in a public relations conundrum that could go viral and tarnish your brand reputation for a very long time. Unfortunately, carelessness is rampant, and many small businesses have greatly damaged their credibility by answering reviews in a less-than-professional manner.
		</p>

		<p class="text-black">
			Many businesses are hasty and careless in the management of their online reputation. They fall into the trap of trying to engage reviewers without first drafting a document of best practices, or ensuring the person tasked to respond to reviews on behalf of the business is a good ambassador.
		</p>

		<p class="text-black">
			Empowerment, knowledge, and diplomacy are needed to handle each review, regardless of the rating with excellence and a clear, long-term marketing vision in mind. Common mistakes include poor grammar, language barriers, unwillingness to be solution-driven, and inconsistency regarding the level of care that is given to each response, thus conveying preferential treatment to some while neglecting others. 
		</p>

		<p class="text-black">
			The reviewer, along with others reading your review response, cannot read body language associated with your response. With that hindrance in mind, responders must be incredibly careful not to offend through insincerity and other nuances that might be perceived as a personal attack toward the reviewer.
		</p>

		<p class="text-black">
			Your main goal is to draft a marketing message that is brand-aligned and builds consumer confidence. When drafting a response, protect your credibility by living up to the golden rule of treating reviewers the way you would like to be treated if you were on the other end of the engagement. This is of particular importance when responding to less-than-perfect reviews. 
		</p>

		<p class="text-black">
			Stick to a response that is empathy-driven, seeks to tackle all the issues, and provides the reviewer with some sort of remedy or apology that is appropriate to the severity and relevance of the issues voiced via the online review. Please note that while there are websites that provide merchants a little buffer time to address a concern before the review goes live, the same rules apply to offline responses. Stick to the book when it comes to kindness and customer focus. While it may be momentarily frustrating, it will pay off in the long run.
		</p>

		<p class="text-black">
			Before you move forward with replying to a review, take a moment to gather all the facts from those involved with the customer experience. A response that is selective, superficial, or otherwise incomplete can offend the reviewer, but most importantly it will make you look highly unprofessional in the eyes of shoppers seeking out consumer reviews prior to making a purchasing decision.
		</p>

		<p class="text-black">
			Read the review slowly, and note all the issues brought to light by the reviewer. Tackle each issue in the order conveyed by the reviewer, and always keep in mind that the end goal is making things right. Once you have drafted your response, proof it and make certain that you have covered all your bases and advocated on behalf of your business while taking care of the customer’s concerns.
</p>

		<p class="text-black">
			The reviewer, along with others reading your review response, cannot read body language associated with your response. With that hindrance in mind, responders must be incredibly careful not to offend through insincerity and other nuances that might be perceived as a personal attack toward the reviewer.
		</p>


		<p class="text-black">
			Impersonal responses can be more damaging than no response at all. If you can’t take a couple of minutes to focus on each customer, then you need to go back to the drafting board and reevaluate why it is that you are engaging in review and reputation management.
		</p>

		<p class="text-black">
			Or, use our handy <%=link_to "Reply Copilot", new_criterium_path %>
		 tool to generate a different response each time, simply customized with customer names, a feedback outlet, and an empathetic tone.
		</p>
		<center><p class="text-black">
		  Want more great content?<br>Signup for ReviewTrackers weekly email!
		</p>
	</center>
</h3>
</div>

	<% @visitor = Visitor.new %>
	<%= render 'signup' %>


	</div>
</div>
</div>
</div>
</div>
<center>
<!-- <div><h3>
  Want more great content?<br>Signup for ReviewTrackers weekly email!
</h3></div>
</center>
<%# @visitor = Visitor.new %>
<%#= render 'signup' %>
 -->

	</center>


