<div class="col-xs-12 col-sm-8 col-sm-offset-2">


<h3>
	<center>

		Why Respond To Reviews?

	</center>
</h3>
<br>
<h4>
	<center>

		<p>
			If you’re not responding to reviews (negative and positive) of your business, 
			then you may be missing out on the opportunity to drive new business.
		</p>

		<p>
			There are plenty of reasons why online customer reviews deserve a response on behalf of the brand or business. If you are already engaging in active review management, then we want to congratulate you. You are on the path to excellence in building your brand and your reputation. But before we go out and celebrate the success and impact of review responses, we must pause for just a moment and examine in depth not only what makes a great response but also the risks associated with thoughtless responses that fail to take into account the long-term value of the online business reputation of any organization.
		</p>

		<p>
			A poorly answered review will, in the best of cases, disappoint the reviewer in question, and in the worst of cases result in a public relations conundrum that could go viral and tarnish your brand reputation for a very long time. Unfortunately, carelessness is rampant, and many small businesses have greatly damaged their credibility by answering reviews in a less-than-professional manner.
		</p>

		<p>
			Many businesses are hasty and careless in the management of their online reputation. They fall into the trap of trying to engage reviewers without first drafting a document of best practices, or ensuring the person tasked to respond to reviews on behalf of the business is a good ambassador.
		</p>

		<p>
			Empowerment, knowledge, and diplomacy are needed to handle each review, regardless of the rating with excellence and a clear, long-term marketing vision in mind. Common mistakes include poor grammar, language barriers, unwillingness to be solution-driven, and inconsistency regarding the level of care that is given to each response, thus conveying preferential treatment to some while neglecting others. 
		</p>

		<p><%=link_to "Continue reading...", static_pages_why_respond_part2_path%></p>

	</center>

</h4>
