<div class="col-xs-12 col-sm-8 col-sm-offset-2">

<h3>
	<center>

		Why Respond To Reviews? (con't)<br>

	</center>
</h3>

<br>

<h4>
	<center>

		<p>
			The reviewer, along with others reading your review response, cannot read body language associated with your response. With that hindrance in mind, responders must be incredibly careful not to offend through insincerity and other nuances that might be perceived as a personal attack toward the reviewer.
		</p>


		<p>
			Impersonal responses can be more damaging than no response at all. If you can’t take a couple of minutes to focus on each customer, then you need to go back to the drafting board and reevaluate why it is that you are engaging in review and reputation management.
		</p>

		<p>
			Or, use our handy <%=link_to "Reply CoPilot", new_criterium_path %>
		 tool to generate a different response each time, simply customized with customer names, a feedback outlet, and an empathetic tone.
		</p>

    <%= button_to "Try Reply Copilot!", new_criterium_path, :id => "button",
      :class => "btn btn-lg btn-success col-xs-14", :method => :get %>

     <br>

    <p><%=link_to "Back to previous page", static_pages_why_respond_part2_path%></p>
    <p><%=link_to "Back to first page", static_pages_why_respond_part1_path%></p>




	</center>

</h4>


