<div class="col-xs-12 col-sm-8 col-sm-offset-2">

<h3>
	<center>

		Why Respond To Reviews? (con't)<br>

	</center>
</h3>

<br>

<h4>
	<center>

		<p>
			The reviewer, along with others reading your review response, cannot read body language associated with your response. With that hindrance in mind, responders must be incredibly careful not to offend through insincerity and other nuances that might be perceived as a personal attack toward the reviewer.
		</p>

		<p>
			Your main goal is to draft a marketing message that is brand-aligned and builds consumer confidence. When drafting a response, protect your credibility by living up to the golden rule of treating reviewers the way you would like to be treated if you were on the other end of the engagement. This is of particular importance when responding to less-than-perfect reviews. 
		</p>

		<p>
			Stick to a response that is empathy-driven, seeks to tackle all the issues, and provides the reviewer with some sort of remedy or apology that is appropriate to the severity and relevance of the issues voiced via the online review. Please note that while there are websites that provide merchants a little buffer time to address a concern before the review goes live, the same rules apply to offline responses. Stick to the book when it comes to kindness and customer focus. While it may be momentarily frustrating, it will pay off in the long run.
		</p>

		<p>
			Before you move forward with replying to a review, take a moment to gather all the facts from those involved with the customer experience. A response that is selective, superficial, or otherwise incomplete can offend the reviewer, but most importantly it will make you look highly unprofessional in the eyes of shoppers seeking out consumer reviews prior to making a purchasing decision.
		</p>

		<p>
			Read the review slowly, and note all the issues brought to light by the reviewer. Tackle each issue in the order conveyed by the reviewer, and always keep in mind that the end goal is making things right. Once you have drafted your response, proof it and make certain that you have covered all your bases and advocated on behalf of your business while taking care of the customer’s concerns.
		</p>

		<p><%=link_to "Continue reading...", static_pages_why_respond_part3_path%></p>

		<p><%=link_to "Back to first page", static_pages_why_respond_part1_path%></p>



	</center>

</h4>


