<h1>Sign Up for Newsletter</h1>

<p>
  Sign up for our newsletter now and we'll email you a comprehensive booklet on best practices in consumer response!
</p>

<%= render 'form' %>

<%= link_to 'Back', visitors_path %>
