	<footer class="navbar-fixed-bottom">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<p class="text-blue text-left">
						<a href="https://twitter.com/replycopilot" target="_blank">
<!-- 							<i class ="fa fa-lg fa-twitter-square"></i> -->
							<%= image_tag("square_twitter.svg", size: "20x20", class: "fa fa-lg fa-twitter-square") %>
						</a>
						<a href="https://www.facebook.com/replycopilot" target="_blank">
							<i class ="fa fa-lg fa-facebook-square"></i>
							<%= image_tag("square_facebook.svg", size: "20x20", class: "fa fa-lg fa-facebook-square") %>

						</a>
						<a href="https://plus.google.com/u/0/105765359744046892959/posts" target="_blank">
							<i class ="fa fa-lg fa-google-plus-square"></i>
							<%= image_tag("square_google_plus.svg", size: "20x20", class: "fa fa-lg fa-google-plus-square") %>


						</a>
					</p>
				</div>
				<div class="col-sm-6">
						<p class="text-navy text-right">
							<a href="http://www.reviewtrackers.com/terms-service/" target="_blank" title="Reply Copilot Terms of Service">
								Terms of Service
							</a>
						</p>
				</div>
			</div>
		</div>
	</footer>