	  <nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container">
		      <a class="navbar-brand" href="/criteria/new.html">
		        <%= image_tag("logo-icon-blue.svg", :class => "visible-xs", :height => '24', :alt => "Reply Copilot") %>
 		    		<%= image_tag("reply-copilot-logo.svg", :class => "hidden-xs", :height => '24', :alt => "Reply Copilot") %>
 		      </a>
				<ul class="nav nav-pills">
					<li role="presentation"><%=link_to "About", static_pages_about_path%></li>
				  <li role="presentation"><%=link_to "Resources", static_pages_resources_path%></li>
	  		</ul>
		  </div>
		</nav>
