<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <form>
    	  <div class="col-xs-12 col-sm-6 col-sm-offset-3">

		<!-- <div class="form-group">
			<label for="exampleInputName1">Your name</label>
			<input type="text" class="form-control" id="exampleInputName1" placeholder="First and last name">
		</div>
		<div class="form-group">
			<label for="exampleInputEmail1">Your Email</label>
			<input type="email" class="form-control" id="exampleInputEmail1" placeholder="example@website.com">
		</div> -->
<!-- Shiovhan should have dropdown code -->

		<h5>Type of Response 
			  <i class="fa fa-question-circle"></i>
		</h5>
 		<div class="btn-group btn-group-justified" role="group" aria-label="...">
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default">Positive</button>
		  </div>
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default">Negative</button>
		  </div>
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default">Neutral</button>
		  </div>
		</div>
		<p style="line-height: 5px;">&nbsp;</p>
		<div class="form-group">
 -->			<label for="exampleInputName1">Customer Name</label>
			<input type="text" class="form-control" id="exampleInputName1" placeholder="Customer name">
		</div>
		<div class="row">
			<div class="col-xs-12">
				<button type="submit" class="btn btn-lg btn-success col-xs-12 ">Generate Response</button>
			</div>
		</div>
	</form>
  </div>
</div>



